.top-section-wrapper {
    z-index: 1;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 50%;
    width: 6000px;
    height: 2320px;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: translate(-50%) skewY(-30deg);
    -ms-transform: translate(-50%) skewY(-30deg);
    transform: translate(-50%) skewY(-30deg);
    background: white;
}

@media (max-width:800px) {}

.bottom-section-wrapper {
    z-index: 1;
    position: absolute;
    top: auto;
    bottom: -4390px;
    left: 50%;
    width: 6000px;
    height: 4000px;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: translate(-50%) skewY(-30deg);
    -ms-transform: translate(-50%) skewY(-30deg);
    transform: translate(-50%) skewY(-30deg);
}

@media (max-width:800px) {}

.above-header-wrapper {
    position: relative;
    z-index: 2;
}

.background-wrapper {
    position: relative;
    overflow: hidden;
    background: #EFF3F5;
}

.wrapper-full {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width:1200px) {
    .wrapper-full {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (max-width:800px) {
    .wrapper-full {
        max-width: 500px;
    }
}

.hero-cta {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: unset;
    -webkit-justify-content: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    height: 40px;
    font-size: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 0;
    padding-top: 0;
    white-space: nowrap;
    word-break: keep-all;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-letter-spacing: 0.4px;
    -moz-letter-spacing: 0.4px;
    -ms-letter-spacing: 0.4px;
    letter-spacing: 0.4px;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-transition: color 150ms ease, border 150ms ease, -webkit-transform 100ms ease;
    -webkit-transition: color 150ms ease, border 150ms ease, transform 100ms ease;
    transition: color 150ms ease, border 150ms ease, transform 100ms ease;
    color: #0C344B;
    border: 2px solid #8FA6B2;
}

.hero-cta:active {
    -webkit-transform: translate3d(0, 1px, 0);
    -ms-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
}

.hero-cta:hover, .hero-cta:focus {
    color: #3D5866;
    border: 2px solid #CCD9DF;
}

.inbetween-wrapper {
    padding-top: 40px;
}

.inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.name-space-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.elastic-spacer {
    margin: 0 auto;
}

.name-space {
    fill: #0C344B;
}

.top-menu {
    display: inline-block;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    color: #0C344B;
    -webkit-transition: color 150ms ease;
    transition: color 150ms ease;
}

.top-menu:last-child {
    padding-right: 0;
}

.top-menu:first-child {
    padding-left: 0;
}

.top-menu:hover {
    color: #8FA6B2;
}

.wrapper-spacer-65 {
    width: 0px;
    height: 65px;
    pointer-events: none;
}

@media (max-width:800px) {
    .wrapper-spacer-65 {
        width: 0px;
        height: 65px;
    }
}

.wrapper-spacer-128 {
    width: 0px;
    height: 128px;
    pointer-events: none;
}

@media (max-width:800px) {
    .wrapper-spacer-128 {
        width: 0px;
        height: 128px;
    }
}

.wrapper-spacer {
    width: 0px;
    height: 0px;
    pointer-events: none;
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width:800px) {
    .wrapper-spacer {
        width: 0px;
        height: 0px;
    }
}

.wrapper-spacer-108 {
    width: 0px;
    height: 108px;
    pointer-events: none;
}

@media (max-width:800px) {
    .wrapper-spacer-108 {
        width: 0px;
        height: 108px;
    }
}

.split-card-full {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(8, 35, 51, 0.05);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
    overflow: hidden;
}

.split-card-title {
    margin: 0;
    text-align: center;
    font-size: 32px;
    line-height: 1.25;
    color: #0d1020;
    text-align: left;
}

@media (max-width:800px) {
    .split-card-title {
        text-align: left;
        font-size: 24px;
    }
}

.split-card-message {
    margin: 32px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: #0C344B;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

@media (max-width:800px) {
    .split-card-message {
        text-align: left;
        font-size: 16px;
        margin: 16px 0;
    }
}

.feature-body {
    margin: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #0C344B;
}

.feature-title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #0d1020;
}

.footer-wrapper {
    background: #EFF3F5;
    padding-top: 70px;
    padding-bottom: 64px;
    color: #8FA6B2;
}

.footer-message {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 1.3;
    color: #8FA6B2;
    text-align: right;
}

.footer-message:hover {
    color: #CCD9DF;
}

@media (max-width:800px) {
    .footer-message {
        padding-top: 24px;
        text-align: center;
    }
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    -moz-tab-size: 4;
    tab-size: 4;
}

html {
    line-height: 1.15;
}

body {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    height: 0;
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp, pre {
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, select {
    text-transform: none;
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

html {
    line-height: 1.15;
    box-sizing: border-box;
    background: #EFF3F5;
}

body {
    margin: 0;
    font-family: 'Open Sans';
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-decoration-skip-ink: auto;
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
    background: white;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2 {
    font-family: 'Montserrat';
    font-weight: 700;
}

a {
    color: currentColor;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: color 100ms ease;
    transition: color 100ms ease;
}

::selection {
    background: #0C344B;
    color: white;
}

code {
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.hero-title {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.125;
    color: #0d1020;
    max-width: 630px;
}

@media (max-width:800px) {
    .hero-title {
        font-size: 32px;
    }
}

.hero-message {
    margin: 40px 0;
    font-size: 24px;
    line-height: 1.5;
    color: #0C344B;
    max-width: 630px;
}

@media (max-width:800px) {
    .hero-message {
        font-size: 18px;
        margin: 24px 0;
    }
}

.feature-title-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-cta-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 64px;
}

.hero-wrapper {
    margin-right: 32px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.hero-image {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: -13px;
    width: 550px;
}

.hero-image img {
    display: block;
}

.feature-stack {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.feature-wrapper {
    -webkit-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    margin-right: 80px;
}

.feature-wrapper:last-child {
    margin-right: 0;
}

.split-card-left-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #0d1020;
    position: relative;
}

.split-card-left-wrapper img {
    height: 100%;
    object-fit: none;
}

.split-card-right-wrapper {
    padding: 64px;
    -webkit-flex-basis: 540px;
    -ms-flex-preferred-size: 540px;
    flex-basis: 540px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}